<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="builderio_content_page_model_save_after">
        <observer name="process_url_rewrite_saving" instance="DeployEcommerce\BuilderIO\Observer\ProcessUrlRewriteSavingObserver" />
    </event>
    <event name="builderio_content_page_model_delete_after">
        <observer name="delete_url_rewrite" instance="DeployEcommerce\BuilderIO\Observer\DeleteUrlRewriteObserver" />
    </event>
</config>
